#Python-Assignment-Core

In [511]:
# Question1 >>> Reverse the string using string slicing string = "Python Programming"
Given_String="Python Programming"
Given_String[::-1]

'gnimmargorP nohtyP'

In [513]:
#Question2 >>> count vowels in a given word word = "Python Programming
Given_Word="Python Programming"
vowels='a','e','i','o','u'
count=0
for i in Given_String.strip().lower().replace(' ', ''):
    if i in vowels:
        count+=1
print(f'No of vowels in given word  "{Given_Word} " is "{count}"')

No of vowels in given word  "Python Programming " is "4"

In [515]:
#Question3 >>> count consonants in a given word  -> word = 'Python Programming'
Given_Word="Python Programming" 
vowels='a','e','i','o','u'
count=0
for i in Given_String.strip().lower().replace(' ',''):
    if i not in vowels:
        count+=1
print(f'No of consonants in given word  "{Given_Word}" is "{count}"')

No of consonants in given word  "Python Programming" is "13"

In [517]:
#Question4 >>> count the numbers of Occurances of a characters in a string
#word = "Python Programming" character_to_be_counted = "o"

Given_Word= "Python Programming"
character_to_be_counted = "o"
count=0
for i in Given_Word.strip().lower().replace(' ',''):
    if i==character_to_be_counted:
        count+=1
print(f'Numbers of Occurances of a character "o" in the {Given_Word} is "{count}"')

Numbers of Occurances of a character "o" in the Python Programming is "2"

In [519]:
#Question5 >>> write a function that will create a fibonacci series

def fibonacci_series(n):
    FibonacciSeries=[]
#Asuming the user will enter some random number and print the fibonacci series list
    first_val=0
    second_va1=1
    for i in range(n):
     FibonacciSeries.append(first_val)
     first_val,second_va1= second_va1, first_val+second_va1

    return FibonacciSeries
    




print(fibonacci_series(7))

print('**************************')

print(fibonacci_series(16))

[0, 1, 1, 2, 3, 5, 8]
**************************
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [521]:
'''Question6 >>> Find the maximum nunber in a list , do not use the built in python function,
write a function that will iterate over the list of numbers and find the maximum numbers? numberList = [15,
85, 35, 89, 125]'''

numberList = [15,85, 35, 89, 125]
def maximum_number(M):
    maximum_number= numberList[0] #Assuming the maximum number as 1st number in a list, we can replace it with any number from list as well.
    for max_num in numberList:
        if max_num>maximum_number:
            maximum_number= max_num
    return f'Maximum number in a given list is "{maximum_number}"'
            


maximum_number(numberList) #Assigning given numberList to parameter M

'Maximum number in a given list is "125"'

In [523]:
#Question7 >>> find the middle number in a list numberList = [15, 85, 35, 89,125]

numberList = [15, 85, 35, 89,125]

#Lets find len(numberList)
length_List= (len(numberList))
if length_List%2 != 0:
    Middle_number= numberList[length_List//2]
#If the given list is even we can also add else block to get middle 2 values

#else:
# Middle_number= numberList[(length_List//2)-1],numberList[length_List//2]

    
print(f' Middle number in a given list is {Middle_number}')

 Middle number in a given list is 35

In [525]:
#Question8 >>> convert a list to a string 
lst = ["P", "Y", "T", "H", "O", "N"]

String=','.join(lst)
print(String)
#If we want proper or meaninfull string/word we can use replace (Optional)

String.replace(',', '')

P,Y,T,H,O,N

'PYTHON'

In [527]:
#Question>>> adding two list elements togther 
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]

#We can add directly using '+'
new_lst1= lst1+lst2
print(new_lst1)

#We can add lst2 to lst1 using extend
lst1.extend(lst2)
new_list2=lst1
print(lst1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [529]:
#Question9 >>>compare two strings for Anagram str1 = "Listen" str2 = "Silent"

str1 ="Listen" 
str2 = "Silent"
str1_lst=[]
str2_lst=[]
for i in str1.lower():
    str1_lst.append(i)
for i in str2.lower():
    str2_lst.append(i)
if sorted(str1_lst)== sorted(str2_lst):
    print('Given two strings are Anagram')
else:
    print('Given two strings are not Anagram')

Given two strings are Anagram

In [531]:
'''Question10 >>> check for palindrome in strings, write a function that takes two strings
as input and returns True if the strings are palindrom and returns false if the strings are not a
pallindrome'''

def palindrome(str1,str2):
    check_str1_is_palindrome=str1.strip().lower()[::]==str1.strip().lower()[::-1] 
    check_str2_is_palindrome=str2.strip()[::]==str2.strip().lower()[::-1]

    return check_str1_is_palindrome and check_str2_is_palindrome


#Sample inputs:

print(palindrome('ssss','uuuu'))
print(palindrome('sudarshan','sushruth'))

True
False

In [533]:
#Question11 >>> count the number of white space in a string Write a function that takes string as
#input and returns the number of white spaces in the string as return value.

def count_spaces(string):
    count=0
    for i  in string:
        if i==' ':
            count+=1
    return f'Number of white spaces in a given string is {count}'

print(count_spaces(' S U S H R U T H '))
print(count_spaces('SUDARSHAN'))

Number of white spaces in a given string is 9
Number of white spaces in a given string is 0

In [535]:
'''Question12 >>>Given the names and grades for each student in a class of students, store
them in a nested list and print the name(s) of any student(s) having the second lowest
grade.
Note: If there are multiple students with the second lowest grade, order their names
alphabetically and print each name on a new line.'''

#Sample Class of Students List:
Class_of_Students=[['Sudarshan', 7],['Lucky', 7], ['Prabhas',10],['Nithin', 3],['Ram',3],['Ammulya',3]]
#Lets sort the list based on Marks/Grade(Assuming grades will be from 1-10)
Class_of_Students= sorted(Class_of_Students, key=lambda stu:stu[1], reverse=True)
#Creating list to find the student who has second lowest grade:
lowest_marks=[]
first_lowest_marks=Class_of_Students[-1][1]
second_lowest_marks=[]
for i in Class_of_Students:
    if i[1]>first_lowest_marks:
       second_lowest_marks.append(i[1])
second_lowest_marks=sorted(second_lowest_marks)[0]
for students in Class_of_Students:
    if students[1]==second_lowest_marks:
        lowest_marks.append(students[0])

second_lowest_marks=(', '.join(sorted(lowest_marks)))
print(f'Students who has second lowest marks is {second_lowest_marks}')

Students who has second lowest marks is Lucky, Sudarshan

In [537]:
'''Question13 >>> An extra day is added to the calendar almost every four years as February
29, and the day is called a leap day. It corrects the calendar for the fact that our planet
takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.
In the Gregorian calendar, three conditions are used to identify leap years:
The year can be evenly divided by 4, is a leap year, unless: The year can be evenly
divided by 100, it is NOT a leap year, unless: The year is also evenly divisible by 400.
Then it is a leap year. This means that in the Gregorian calendar, the years 2000 and
2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.
Source
Task
Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean
True, otherwise return False.'''

def leap_year(year):
    check_leap_year=(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
    return check_leap_year


#Sample Input:

print(leap_year(2000))
print(leap_year(2400))
print(leap_year(1800))
print(leap_year(1900))

True
True
False
False

In [539]:
'''Question 14>>> You have been given a String S consisting of uppercase and lowercase
English alphabets. You need to change the case of each alphabet in this String. That is,
all the uppercase letters should be converted to lowercase and all the lowercase letters
should be converted to uppercase. You need to then print the resultant String to output.
input_str = "PyThOn ProGraMMing IS a LoT Of FuN!"'''

input_str = "PyThOn ProGraMMing IS a LoT Of FuN!"
new_input=[i.lower() if i.isupper() else i.upper()  for i in input_str]
new_input=','.join(new_input).replace(',','')
print(f'Converted case string is "{new_input}"')

Converted case string is "pYtHoN pROgRAmmING is A lOt oF fUn!"

In [541]:
'''Question15 >> You have been given 3 integers - l, r and k. Find how many numbers
between l and r (both inclusive) are divisible by k. You do not need to print these
numbers, you just have to find their count.'''
def count_divisibles(l,r,k):
 count=0
 for i in range(l,r+1):
    if i%k==0:
        count+=1

 return(count)


print(count_divisibles(7,70,7))
print(count_divisibles(70,700,100))

10
7

In [543]:
#Question 16 >> Write a function that takes a list as an input and returns the number of unique elements in the list?
def unique_values(lst):
 new_lst=[]
 for i in lst:
    if i not in new_lst:
        new_lst.append(i)

 return len(new_lst)

print(unique_values([7,7,7]))
print(unique_values([7,70,700]))

1
3

In [545]:
'''Question 17 >> Extract elements with Frequency greater than K example Input : test_list = [4, 6, 4, 3, 3, 4,
3, 4, 3, 8], K = 3 Output : [4, 3]'''
test_list = [4, 6, 4, 3, 3, 4,3, 4, 3, 8]
K=3
frequency_greaterthan_K=[]
for i in test_list:
    if test_list.count(i)>K:
        if i not in frequency_greaterthan_K:
         frequency_greaterthan_K.append(i)
            
frequency_greaterthan_K

[4, 3]

In [547]:
''' Question 18 >> Given an array arr[] of N positive integers. The task is to find
the maximum for every adjacent pair in the array. Examples: Input: 1 2 2 3 4 5 Output: 2 2 3 4 5 Input: 5 5'''
arr=[1, 2, 2, 3, 4, 5]
new_arr=[]
for i in range(len(arr)-1):
    new_arr.append(max(arr[i],arr[i+1]))

new_arr

[2, 2, 3, 4, 5]

In [549]:
'''Question 19 :Python program to check if the list contains three consecutive common numbers in a
list Input : [4, 5, 5, 5, 3, 8] Output : 5 Input : [1, 1, 1, 64, 23, 64, 22, 22, 22] Output : 1,22'''

Input = [1, 1, 1, 64, 23, 64, 22, 22, 22]
for i in range(0,len(Input)-2):
    if Input[i]==Input[i+1]==Input[i+2]:
        print(Input[i])

1
22

In [551]:
'''Question 20 >> Given
two lists, extract all elements from the first list, whose corresponding index in the second list contains the
required substring. Input : test_list1 = [“Gfg”, “is”, “not”, “best”, “and”, “not”, “CS”], test_list2 = [“Its ok”, “all
ok”, “wrong”, “looks ok”, “ok”, “wrong”, “thats ok”], sub_str = “ok” Output : [‘Gfg’, ‘is’, ‘best’, ‘and’, ‘CS’]
Explanation : All retained contain “ok” as substring in corresponding idx, e.g : Gfg -> Its ok ( has ok ) as
substr. Input : test_list1 = [“Gfg”, “not”, “best”], test_list2 = [“yes”, “noo”, “its yes”], sub_str = “yes” Output :
[‘Gfg’, ‘best’] Explanation : All retained contain “yes” as substring in corresponding idx, e.g : Gfg -> yes (
has yes ) as substr'''

test_list1 = ["Gfg", "is", "not", "best", "and", "not", "CS"]
test_list2 = ["Its ok", "all ok", "wrong", "looks ok", "ok", "wrong", "thats ok"]
sub_str = "ok"

new_lst = [test_list1[i] for i in range(len(test_list1)) if sub_str.strip().lower() in test_list2[i].strip().lower()]

new_lst

['Gfg', 'is', 'best', 'and', 'CS']

In [553]:
test_list1 = ['Gfg','not','best']
test_list2 = ['yes','noo','its yes']
sub_str = "yes"

new_lst = [test_list1[i] for i in range(len(test_list1)) if sub_str.strip().lower() in test_list2[i].strip().lower()]

new_lst

['Gfg', 'best']

In [555]:
#Question 21 >> Use List comprehension to solve the probem Given a list of numbers,
#remove all odd numbers from the list: numbers = [3,5,45,97,32,22,10,19,39,43]


numbers = [3,5,45,97,32,22,10,19,39,43]
new_even_number_lst=[ num  for num in numbers if num%2==0]
new_even_number_lst

[32, 22, 10]

In [557]:
#Question 22 >> Find the
#common numbers in two lists (without using a tuple or set) 
list_a = 1, 2, 3, 4
list_b = 2, 3, 4, 5
for num in list_a:
    if num in list_b and num not in common_number_lst :
        print(num)

2
3
4

In [559]:
#Question 23 >>
#Get only the numbers in a sentence like 
#Input = 'In 1984 there were 13 instances of a protest with over 1000 people attending'
#result = [1984, 13, 1000]


Input = 'In 1984 there were 13 instances of a protest with over 1000 people attending'

updated_input=Input.strip().split(' ')

results=[]

for i in updated_input:
    if i.isdigit():
        results.append(i)
        
results

['1984', '13', '1000']

In [561]:
''' Question 24 >> Given numbers = range(20), produce a list
containing the word 'even' if a number in the numbers is even, and the word 'odd' if the number is odd.
Result would look like ['odd','odd', 'even']'''

numbers=range(20)
new_lst=['even' if num%2==0 else 'odd'  for num in numbers]
new_lst

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [563]:
#Question 25 >> Use a nested list comprehension to find all of the
#numbers from 1-100 that are divisible by any single digit besides 1 (2-9)

num_range=range(2,10)
numbers= [i for i in range(1,101) if sum(i % j == 0  for j in range(2,10)) > 0]
numbers

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99,
 100]

In [565]:
'''Question 26 >> Use list
comprehension to solve the below problem statement Find all of the words in a string that are less than 4
letters sentence = 'On a summer day somner smith went simming in the sun and his red skin stung'
'''

given_sentence = 'On a summer day somner smith went simming in the sun and his red skin stung'

words_lessthan_4_letters =[word for word in given_sentence.strip().split() if len(word)<4]
words_lessthan_4_letters

['On', 'a', 'day', 'in', 'the', 'sun', 'and', 'his', 'red']

#Python- Test

In [568]:
'''Question 1 >> Use the variable "numbers", in the cell below, to create a list of cube of even numbers.
Output should be -> [2*2*2, 3*3*3, 4*4*4] Use list comprehension to create the list of cubes of even
numbers
numbers = range(50)
# Create a list of cubes of even numbers
# Use list comprehension'''
numbers=range(50)
list_of_cubes_of_even_numbers= [(f'{i}*{i}*{i}') for i in numbers if i%2==0]
print(list_of_cubes_of_even_numbers)

#If exact values need to be printed:
list_of_cubes_of_even_numbers1= [(i**3)  for i in numbers if i%2==0]
list_of_cubes_of_even_numbers1

['0*0*0', '2*2*2', '4*4*4', '6*6*6', '8*8*8', '10*10*10', '12*12*12', '14*14*14', '16*16*16', '18*18*18', '20*20*20', '22*22*22', '24*24*24', '26*26*26', '28*28*28', '30*30*30', '32*32*32', '34*34*34', '36*36*36', '38*38*38', '40*40*40', '42*42*42', '44*44*44', '46*46*46', '48*48*48']

[0,
 8,
 64,
 216,
 512,
 1000,
 1728,
 2744,
 4096,
 5832,
 8000,
 10648,
 13824,
 17576,
 21952,
 27000,
 32768,
 39304,
 46656,
 54872,
 64000,
 74088,
 85184,
 97336,
 110592]

In [570]:
 '''Question 2 >> Given an array of integers nums and an integer target, return indices of the two numbers
such that they add up to target. You may assume that each input would have exactly one solution, and you
may not use the same element twice. Example 1 > Input: nums = [2,7,11,15], target = 9 Output: [0,1]
Example 2 > Input: nums = [3,2,4], target = 6 Output: [1,2] Example 3 > Input: nums = [3,3], target = 6
Output: [0,1]'''


def target_sum_indices(nums, target):
    num__index = {}
    
    for index, number in enumerate(nums):
        second_number = target - number
        
        if second_number in num__index:
            return [num__index[second_number], index]
        
        num__index[number] = index

target_sum_indices([10,1,6,15,2],7)

[1, 2]

In [572]:
'''#Question 3 >>
li = ['Nagpur', 'Kolkata', 'Pune', 'Chennai', 'Kolkata', 'Pune',
'Nagpur', 'Lucknow']
# create a list that remove has only unique values.'''

li = ['Nagpur', 'Kolkata', 'Pune', 'Chennai', 'Kolkata', 'Pune']
new_li=[]
for i in li:
    if i.strip().lower() not in new_li:
        new_li.append(i.strip().lower())
        
#To change the strings to given format(optional)
new_lst1=[]
for i in new_li:
    new_lst1.append(i.title())
new_lst1

['Nagpur', 'Kolkata', 'Pune', 'Chennai']

In [574]:
'''# Question 4 >>
random_list = ['Nagpur', True, 1, 2920.22, 383.22, 3333, 0, False,
'Lucknow', False, 'Kolkata', True]
# create an output dictionary from the above random_list
# where the key is index of element which is of type Boolean
# and the value is the element at that position in the list
# The output for the above list is {1: True, 7: False, 9: False, 11:
True}
# The element in index 1 is of type boolean and the value of that
element is True,
# the element at index 7 os of type boolean and the value of that
element is False'''



random_list = ['Nagpur', True, 1, 2920.22, 383.22, 3333, 0, False,'Lucknow', False, 'Kolkata', True]
new_lst={}
for i in enumerate(random_list):
    if type(i[1])==bool:
        new_lst[i[0]]=i[1]
new_lst

{1: True, 7: False, 9: False, 11: True}

In [576]:
'''
# Question 5 >>
# Input is a list of dictionary like li
# output will be list of dictionary but sorted by highest to lowest
per_capita_income
li = [{'city':'Bangalore', 'per_capita_income':70730},
{'city':'Mumbai', 'per_capita_income':72730},
{'city':'Chennai', 'per_capita_income':69730},
{'city':'Hyderabad', 'per_capita_income':71444}]'''



li = [
    {'city': 'Bangalore', 'per_capita_income': 70730},
    {'city': 'Mumbai', 'per_capita_income': 72730},
    {'city': 'Chennai', 'per_capita_income': 69730},
    {'city': 'Hyderabad', 'per_capita_income': 71444}
]

sorted_li_hughest_lowest = sorted(li, key=lambda x: x['per_capita_income'], reverse=True)
(sorted_li_hughest_lowest)

[{'city': 'Mumbai', 'per_capita_income': 72730},
 {'city': 'Hyderabad', 'per_capita_income': 71444},
 {'city': 'Bangalore', 'per_capita_income': 70730},
 {'city': 'Chennai', 'per_capita_income': 69730}]

In [578]:
'''# Question 6>
# write a function called reverse_integer_number(number):
# where input is a number example 124
# the output returned by the function should be 421
# Please note that both input and output numbers should be of type int
def reverse_integer_number(number):
# write your code here
pass
'''



def reverse_integer_number(number):
    number=str(number)
    reverse_number=number[::-1]
    return int(reverse_number)
    print(type(reverse_number))
print(reverse_integer_number(124))

#or

def reverse_integer_number1(number):
    reversed_number = 0
    
    while number != 0:
        digit = number % 10  # Get the last digit
        reversed_number = reversed_number * 10 + digit  
        number = number // 10
    
    return reversed_number


print(reverse_integer_number1(421))

421
124

In [580]:
'''# Question 7>
# Input is two lists
# The final is a list of unique elements sorted in ascending order
# example
# Input is two list
list_1 = [1, 4, 7, 3, 1, 3, 5, 2, 1, 4, 10]
list_2 = [5, 7, 8, 1, 3, 5, 6, 1, 4, 5]
# The output should be [1, 2, 3, 4, 5, 6, 7, 8, 10]'''

list_1 = [1, 4, 7, 3, 1, 3, 5, 2, 1, 4, 10]
list_2 = [5, 7, 8, 1, 3, 5, 6, 1, 4, 5]
new_lst=[]
for i in sorted(list_1+list_2):
    if i not in new_lst:
        new_lst.append(i)

new_lst

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [582]:
'''# Question 8 >
# use the drinksbycountry dataset to solve the following question
import pandas as pd
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
# find all the countries in africa who drink more beer than average
beer consupution in europe?'''

import pandas as pd

drinks = pd.read_csv('http://bit.ly/drinksbycountry')

european_avg_beer_consumption = drinks[drinks['continent'] == 'Europe']['beer_servings'].mean()


african_countries_morethan_average_beer_consumption=drinks[(drinks['continent'] == 'Africa') & (drinks['beer_servings'] > european_avg_beer_consumption)]

print(african_countries_morethan_average_beer_consumption)

print('***********************************************************************************')

print(african_countries_morethan_averagre_beer_consumption[['country', 'beer_servings','continent']])

          country  beer_servings  spirit_servings  wine_servings  \
4          Angola            217               57             45
62          Gabon            347               98             59
117       Namibia            376                3              1
159  South Africa            225               76             81

     total_litres_of_pure_alcohol continent
4                             5.9    Africa
62                            8.9    Africa
117                           6.8    Africa
159                           8.2    Africa
***********************************************************************************
          country  beer_servings continent
4          Angola            217    Africa
62          Gabon            347    Africa
117       Namibia            376    Africa
159  South Africa            225    Africa

In [584]:
'''# Question 9 >
# Use the drinksbycountry dataset to solve the following question
import pandas as pd
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
# find all second most wine drinking country in Asia ?'''

drinks = pd.read_csv('http://bit.ly/drinksbycountry')

asia_wine_countries = drinks[drinks['continent'] == 'Asia']

sorted_asia_wine_countries = asia_wine.sort_values(by='wine_servings', ascending=False)

asia_second_most_wine_consume_country = sorted_asia_wine.iloc[1][:]

print(asia_second_most_wine_consume_country)

country                         Russian Federation
beer_servings                                  247
spirit_servings                                326
wine_servings                                   73
total_litres_of_pure_alcohol                  11.5
continent                                     Asia
Name: 141, dtype: object

In [586]:
'''# Question 10 >
# Use the imdbrating dataset to solve the following questions
import pandas as pd
imdb = pd.read_csv('http://bit.ly/imdbratings')
# find all the movies that have a star_rating >=8.0 and less than
equal <=9.0 and have 'Marlon Brando' as a actor'''

imdb = pd.read_csv('http://bit.ly/imdbratings')

star_rating_movies = imdb[(imdb['star_rating'] >= 8.0) & (imdb['star_rating'] <= 9.0) & (imdb['actors_list'].str.contains('Marlon Brando'))]

star_rating_movies

,star_rating,title,content_rating,genre,duration,actors_list
51,8.5,Apocalypse Now,R,Drama,153,"[u'Martin Sheen', u'Marlon Brando', u'Robert D..."
122,8.3,On the Waterfront,NOT RATED,Crime,108,"[u'Marlon Brando', u'Karl Malden', u'Lee J. Co..."
284,8.1,A Streetcar Named Desire,PG,Drama,122,"[u'Vivien Leigh', u'Marlon Brando', u'Kim Hunt..."

In [588]:
'''
# Question 11 >
# Use the chiporders dataset to solve the following questions
import pandas as pd
chips = pd.read_table('http://bit.ly/chiporders')
# Question 11 a > Create a column which will have the total bill
formed by multiplying quantity * item_price
# Question 11 b > find the sum of all the total_bill for all items
that contains chicken'''

chips = pd.read_table('http://bit.ly/chiporders')

chips['items_price'] = chips.item_price.str.replace('$','').astype(float)

#11a)

chips['total_bill']=chips['quantity'] * chips['items_price']

#11b)
chips_with_item_chicken=chips[chips['item_name'].str.lower().str.contains('chicken')]

sum_total_bill = chips_with_item_chicken['total_bill'].sum()

print(f'Sum of total_bill for all the items which has chicken is ${sum_total_bill}')

Sum of total_bill for all the items which has chicken is $17742.15

In [590]:
# Question 12 >
# Use the kaggletrain dataset to solve the following question

import pandas

train = pd.read_csv('http://bit.ly/kaggletrain')


# 12 a > Create a column that has the first name of the passenger
# use the apply function

train['First_Name'] = train['Name'].apply(lambda x: x.split(', ')[1].split(' ')[1])
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,First_Name
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Owen
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,John
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Laina
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Jacques
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,William

In [592]:

# 12 b >
# Create a column named "Survived_Text" where if the value in
#Survived column is 0 then "Survived_text" value is "Did not survive"
# if the value in Survived column is 1 then "Survived_text" value is "Survived"

train['Survived_Text'] = train['Survived'].apply(lambda x: "Did not survive" if x == 0 else "Survived")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,First_Name,Survived_Text
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Owen,Did not survive
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,John,Survived
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Laina,Survived
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Jacques,Survived
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,William,Did not survive

In [594]:
# 12 c >
# select the columns First_Name, Sex, Age, Fare for those passengers
# who travelled in first class and who did not survive


specific_columns = train[(train['Pclass'] == 1) & (train['Survived'] == 0)][['First_Name', 'Sex', 'Age', 'Fare']]
specific_columns.head()

   First_Name   Sex   Age      Fare
6     Timothy  male  54.0   51.8625
27    Charles  male  19.0  263.0000
30     Manuel  male  40.0   27.7208
34      Edgar  male  28.0   82.1708
35  Alexander  male  42.0   52.0000

In [596]:
# 12 d > group the above dataset by sex and get the count of male and female passengers who did not survive

survival_count = specific_columns.groupby('Sex')['First_Name'].count() 
survival_count.head()

Sex
female     3
male      77
Name: First_Name, dtype: int64

In [598]:
'''Question 13 >>
# Write a function that takes a string as an input and returns a
dictionary where the
# key of the dictionary is the word and the value is the count of the
word
sentence = "banana mango Banana mango grapes watermelon Papaya mango
papaya Banana"'''

sentence = "banana mango Banana mango grapes watermelon Papaya mango papaya Banana"


def Sentence_dict(string):
    string=string.split(' ')
    new_sentence_dict={}
    for i in string:
        if i.strip().lower() not in new_sentence_dict.keys():
           new_sentence_dict[i.strip().lower()]=1
        else:
           new_sentence_dict[i.strip().lower()]=new_sentence_dict[i.strip().lower()]+1

    return new_sentence_dict

Sentence_dict(sentence)

{'banana': 3, 'mango': 3, 'grapes': 1, 'watermelon': 1, 'papaya': 2}

In [324]:
# Question 14 >>
# Implement the function pow(x, n)
# where x is raised to the power n
# example pow(2, 5) -- should return 32

def pow(x,n):
    return x**n


print(pow(2,5))
print(pow(7,7))

32
823543

In [600]:
# Question 15 >>
# Given two non-negative integers num1 and num2 represented as strings,
# return the product of num1 and num2, also represented as a string.
# Note: You must not use any built-in BigInteger library or convert the inputs to integer directly.
# Create your own function to achive this.
# Example num1 = "6" num2 = "5"
# Output "30"
# Example num1 = "123" num2 = "456"
# Output = "56088"



product=[]
num1='7'
num2='7'
for i in num1:
    for j in num2:
        product.append(str(int(i)*int(j)))

product=','.join(product).replace(',','')
        
product

'49'